body,
.header-glass,
.container-glass {
    background:url('images/8.jpg') 0 / cover fixed;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #222222;
}
h1 {
    cursor: default;
    font-family: 'Reenie Beanie', cursive;
    font-size: 28px;
    font-weight: bold;
}
.header {
    background: #222222be;
    border-radius: 10px;
    box-shadow: 2px 5px 10px -2px black;
    color: #ececec;
    height: 5vh;
    margin: 2.5vh 1vw;
    text-align: center;
}
.header-glass {
    content: '';
    border-radius: 10px;
    margin: 2.5vh 1vw 92.5vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
}
.container {
    align-items: flex-start;
    background: #222222be;
    border-radius: 20px;
    box-shadow: 2px 5px 10px -2px black;
    display: flex;
    height: 70vh;
    margin: 2.5vh auto;
    padding: 10px;
    width: 80vw;
}
.container-glass {
    content: '';
    border-radius: 20px;
    margin: 10vh 10vw 20vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
}
.form-div {
    background: #ffffffb7;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px -3px black;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    width: 300px;
}
.list-div {
    background: #ffffffb7;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px -3px black;
    max-height: 60vh;
    overflow-y: auto;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: 100%;
}