body,
.header-glass,
.container-glass,
.clear-div-glass,
.theme-div-glass {
    background: url("images/0.jpg") 0 / cover fixed;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    overflow: hidden;
}
h1 {
    position: relative;
    top: 0.25vh;
    font-family: Brush Script MT, Brush Script Std, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Brush Script MT, Brush Script Std, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-shadow: 1px 2px 5px black;
}
h3 {
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}
h3:hover {
    cursor: pointer;
}
button, input, textarea {
    font-family: inherit;
    outline: none;
    color: inherit;
}
input[type=checkbox],
.edit-button,
.delete-button {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
ul {
    margin-left:-25px;
}
li {
    list-style: none;
    margin: 10px auto;
}
li:hover > .edit-button {
    opacity: 1;
}
li:hover > .delete-button {
    opacity: 1;
}
.header {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px -1px black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    margin: 2.5vh 2.5vw;
    text-align: center;
}
.header:active {
    box-shadow: inset 0px 5px 10px -2px black;
    transform: scale(0.975);
}
.header:active > .header-glass {
    transform: scale(0.975);
}
.header-glass {
    content: '';
    border-radius: 10px;
    margin: 2.5vh 3.25vw 92.5vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
    opacity: 0.8;
}
.container {
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0 5px 15px -1px black;
    display: flex;
    height: 70vh;
    margin: 2.5vh auto;
    position: relative;
    width: 80vw;
}
.container-glass {
    content: '';
    border-radius: 20px;
    margin: 0 10vw 20vh;
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
    opacity: 0.8;
}
.block {
    display: inline-block;
    width: 100%;
}
.button {
    border-radius: 10px;
    box-shadow: 0px 2px 4px -2px black;
    text-align: center;
    transition: transform scale 0.1s;
}
.button:active {
    box-shadow: inset 0px 3px 6px -3px black;
    transform: scale(0.95);
}
.button:hover {
    cursor: pointer;
}
.button-div {
    display: flex;
    flex-direction: row;
}
.add-button {
    flex: 5;
    font-size: 16px;
    height: 8vh;
}
.add-button.edit {
    border-radius: 0 10px 10px 0;
}
.cancel-button {
    background-image: linear-gradient(to bottom, #bd6666, #df6666);
    border-radius: 10px 0 0 10px;
    display: none;
    flex: 1;
    font-size: 16px;
    height: 8vh;
    box-shadow: 0px 2px 4px -2px black;
    text-align: center;
    transition: transform scale 0.1s;
}
.cancel-button:active {
    box-shadow: inset 0px 3px 6px -3px black;
    transform: scale(0.95);
}
.cancel-button:hover {
    background-image: linear-gradient(to bottom, #ac6666, #ce6666);
    cursor: pointer;
}
.input {
    font-size: 16px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    box-shadow: inset 0 3px 10px -3px black;
    height: 8vh;
    margin: 0 0 10px 0;
    padding: 0 10px;
    text-align: center;
    z-index: 3;   
}
.time {
    border-radius: 0;
    position: relative;
    top: -35px;
    height: 4vh;
    text-align: center;
    transition: top 0.1s ease;
    z-index: 2;
}
.date {
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -65px;
    height: 4vh;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    text-align: center;
    transition: top 0.1s ease;
    z-index: 1;
}
.key {
    display: none;
}
.textarea {
    box-sizing: border-box;
    box-shadow: inset 0 2px 6px -2px black;
}
.form-div {
    position: relative;
    top: 10px;
    border-radius: 15px;
    box-shadow: inset 0 5px 10px -3px black;
    margin: 0 10px 10px 10px;
    padding: 0 10px 10px 10px;
    width: 15vw;
    height: auto;
}
.list-div {
    position: relative;
    top: 10px;
    border-radius: 15px;
    box-shadow: inset 0 5px 10px -3px black;
    cursor: default;
    flex: 1;
    height: 100%;
    margin: 0 10px 10px 0;
    max-height: 67vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px 0 0;
    vertical-align: top;
}
.theme-div {
    position: absolute;
    bottom: -60px;
    right: 15vw;
    margin: 0;
    border-radius: 20px 20px 0 0;
    width: 30vw;
    height: 17vh;
    box-shadow: 0 5px 15px -1px black;
}
.theme-div-glass {
    content: '';
    border-radius: 20px 20px 0 0;
    margin: 83vh 0 0 55vw;
    position: absolute;
    top: 60px;
    right: 15vw;
    bottom: 0;
    left: 0;
    filter:blur(5px);
    z-index: -1;
    min-width: 120px;
    opacity: 0.8;
}
.theme-btn-div {
    border-radius: 15px 15px 0 0;
    box-shadow: inset 0 5px 10px -3px black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    position: relative;
}
.theme-btn-div-title {
    text-justify: center;
    margin: 0 auto;
    padding: 0 0 5px 0;
}
.theme-buttons {
    display: flex;
}
.theme-btn {
    flex: 1;
    height: 6vh;
    opacity: 0.5;
    transition: opacity 0.25s;
}
.theme1-btn {
    border-radius: 10px 0 0 10px;
}
.theme2-btn {
    border-radius: 0;
}
.theme3-btn {
    border-radius: 0 10px 10px 0;
}
.clear-div {
    position: absolute;
    bottom: -60px;
    left: 15vw;
    margin: 0;
    border-radius: 20px 20px 0 0;
    width: 30vw;
    height: 17vh;
    box-shadow: 0 5px 15px -1px black;
}
.clear-div-glass {
    content: '';
    border-radius: 20px 20px 0 0;
    margin: 83vh 55vw 0 0;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 15vw;
    filter:blur(5px);
    z-index: -1;
    min-width: 120px;
    opacity: 0.8;
}
.clear-btn-div {
    border-radius: 15px 15px 0 0;
    box-shadow: inset 0 5px 10px -3px black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    position: relative;
}
.clear-btn-div-title {
    text-justify: center;
    margin: 0 auto;
    padding: 0 0 5px 0;
}
.clear-buttons {
    display: flex;
}
.clear-button {
    opacity: 0.5;
    border-radius: 10px;
    flex: 1;
    height: 6vh;
    transition: opacity 0.25s;
}
.clear-ls-button {
    display: none;
    opacity: 0.5;
    border-radius: 0 10px 10px 0;
    flex: 1;
    height: 6vh;
    transition: opacity 0.25s;
}
.edit-button {
    background-image:url("images/edit-icon.png");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 10px 0 0 10px;
    content: "";
    font-size: 12px;
    height: 20px;
    margin: 0 0 0 10px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 20px;
}
.delete-button {
    background-image:url("images/delete-icon.png");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: auto 90%;
    border-radius: 0 10px 10px 0;
    content: "";
    font-size: 12px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 20px;
}
.check-box {
    border-radius: 5px;
    box-shadow: 0px 2px 4px -3px black;
    margin-right: 10px;
    transform: scale(1.2)
}
.check-box:active {
    box-shadow: inset 0px 4px 6px -2px black;
    transform: scale(1);
}
.check-box:hover {
    cursor: pointer;
}
.checked {
    text-decoration: line-through wavy;
}
.new-post {
    opacity: 0;
    transition: opacity 1s;
}
.post-visible {
    opacity: 1;
}
.post-delete {
    opacity: 0;
    transition: opacity 0.25s;
}
.textarea-light {
    background: #ececec;
}
.textarea-default {
    background: #cccccc;
}
.textarea-dark {
    background: #222222;
}
.button-light {
    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
}
.button-light:hover {
    background-image: linear-gradient(to bottom, #ececec, #cecece);
}
.button-default {
    background-image: linear-gradient(to bottom, #dcdcdc, #bebebe);
}
.button-default:hover {
    background-image: linear-gradient(to bottom, #cccccc, #aeaeae);
}
.button-dark {
    background-image: linear-gradient(to bottom, #111111, #333333);
}
.button-dark:hover {
    background-image: linear-gradient(to bottom, #222222, #444444);
}
.header-light,
.container-light,
.clear-div-light,
.theme-div-light {
    background:#ececec44;
}
.header-default,
.container-default,
.clear-div-default,
.theme-div-default {
    background: #22222277;
}
.header-dark,
.container-dark,
.clear-div-dark,
.theme-div-dark {
    background: #222222aa;
}
.form-div-light,
.form-btn-div-light,
.list-div-light,
.clear-btn-div-light,
.theme-btn-div-light {
    background: #ececec88;
}
.form-div-default,
.form-btn-div-default,
.list-div-default,
.clear-btn-div-default,
.theme-btn-div-default {
    background: #ececec55;
}
.form-div-dark,
.form-btn-div-dark,
.list-div-dark,
.clear-btn-div-dark,
.theme-btn-div-dark {
    background: #22222299;
}
.body-light,
.list-div-light {
    color: #222222;
}
.body-default,
.list-div-default {
    color: #222222;
}
.body-dark,
.list-div-dark {
    color: #cecece;
}
.header-dark,
.h2-dark,
.header-default,
.h2-default {
    color: #ececec;
    text-shadow: 1px 2px 2.5px black;
}
.header-light,
.h2-light {
    color: #000000bb;
    text-shadow: 1px 2px 2.5px #666666;
}